@media screen and (max-width: 1200px) {
  html {
    font-size: 7px;
  }
  .section_text p {
    width: 35.3rem;
  }
  .big_title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 810px) {
  html {
    font-size: 7px;
  }
  .intro_text h1 {
    width: 300px;
  }
  footer .row-links {
    display: block;
    padding: 3rem 5rem;
  }
  
}
@media screen and (max-width: 753px) {
  .phone_box .phone{
    width: 28rem;
  }

}

@media screen and (max-width: 680px) {
  html {
    font-size: 5px;
  }
  .intro_text h1 {
    width: 250px;
  }
  .section_text p {
    width: 35.3rem;
    font-size: 1.8em;
  }
  .big_title {
    font-size: 3.5rem;
  }
  .phone_box .phone{
    width: 24rem;
  }
}
@media screen and (max-width: 538px) {
  .phone_box .phone{
    width: 28rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 9px;
  }

  .row {
    flex-wrap: wrap;
  }
  header {
    height: 100%;
  }

  /*** Navbar Responsiveness ***/
  .navbar {
    height: 90px;
  }
  .menu {
    margin-right: 2rem;
  }
  .navbar ul li a:hover {
    background-color: transparent;
  }

  .navbar ul li {
    width: 100px;
    font-size: 5px;
    margin: auto;
    display: block;
  }
  .intro {
    height: 80rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
  }
  .col-1-of-2 {
    width: 100%;
  }
  .col-1-of-3{
    width: 90%;
    margin: 2rem;
  }

  .section_text h1 {
    font-size: 3.5rem;
    width: 100%;
  }
  /* .section_text p {
    font-size: 1.7rem;
  } */
  .reverse {
    flex-direction: column-reverse;
  }
  .manag3x {
    height: 100%;
  }
  .big_title {
    font-size: 3rem;
  }
  /*.about_us_text h1{

  }*/
  footer{
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    overflow: hidden;
    text-align: center;
    padding-top: 0;
  }
  footer .section_text {
    display: block;
    padding-top: 0;
  }
  footer .section_text img {
    margin-bottom: 0;
    margin-top: 5rem;
  }
  .v-center .get-app {
    padding-top: 3rem;
  }
  .v-center .get-app p {
    transform: translateY(8rem);
  }
}
