@media screen and (max-width: 1023.99px) {
  html {
    font-size: 7px;
  }
  .section_text p {
    width: 35.3rem;
  }
  .big_title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 710px) {
  html {
    font-size: 7px;
  }
  .intro_text h1{
    width: 300px;
  }
}

@media screen and (max-width: 615px) {
  html {
    font-size: 5px;
  }
  .intro_text h1{
    width: 250px;
  }
  .section_text p {
    width: 35.3rem;
  }
  .big_title{
    font-size: 3.5rem;
  }

}

@media screen and (max-width: 480px) {
  html {
    font-size: 9px;
  }

  .row {
    flex-wrap: wrap;
  }
  header {
    height: 100%;
  }

  /*** Navbar Responsiveness ***/
.navbar {
  height: 90px;
}

  .navbar ul li {
    width: 100px;
    font-size: 5px;
    margin: auto;
    display: block;
  }

  .col-1-of-2 {
    width: 100%;
  }
  .section_text h1 {
    font-size: 2.5rem;
    width: 100%;
  }
  /* .reverse {
    flex-direction: column-reverse;
  } */
  .manag3x{
  height: 100%;

  }
  .big_title{
      font-size: 3rem;
  }

  .col-1-of-3{
      width: 100%;
      margin: 2rem;
  }
  .about_us_text h1{

  }
  footer{
    transform: translateY(400px);
    height: 350px;
    overflow: hidden;
    text-align: center;
  }
}
