@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: Manrope;
  margin: 0;
}
.padding {
  padding: 2rem;
}
.big_p {
  padding-left: 4rem;
}

/* BUTTON COMPONENT */

.btn {
  background: #a7194b;
  height: 6.2rem;
  width: 19.6rem;
  border-radius: 8px;
  color: #fff;
  border: none;
  font-size: 2rem;
}

/*Nav bar styling*/
.navbar {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7.9rem;
  left: 0px;
  top: 0.1rem;
  background: #0392ce;
  overflow: hidden;
}
.logo {
  width: 12rem;
  cursor: pointer;
  margin-left: 4rem;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5rem;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}
.navbar ul li a:hover {
  background-color: #fff;
}
.navbar ul li a.active {
  background-color: red;
  color: #fff;
}

.nav_bg {
  background-color: #4aa0d7;
}

.linkrel a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 800;
}
/* INTRODUCTION PAGE  */
header {
  background-color: #0392ce;
  height: 129.4rem;
}
.intro {
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%);
  height: 60%;
}
.intro h1 {
  width: 57.6rem;
  color: #0392ce;
}
.intro_text {
  width: 55.4rem;
}

/* general section  */
section {
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  display: block;
}

/* ABOUT US STYLE  */
.about_us {
  background: #ffffff;
  box-shadow: 0px 4px 50px #a6a6a6;
}
.about_us .section_text h1 {
  color: #0392ce;
  font-size: 3.5rem;
  max-width: 59.6rem;
}

/*<!-- Manage3X SECTION -->*/

.manag3x {
  height: 620px;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}
.col-1-of-3 {
  height: 30rem;
  background: #0392ce;
  width: 30%;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.manag3x .col-1-of-3 p {
  font-size: 4.8rem;
  color: #fff;
  font-weight: 800;
}

/* OUR SOLUTION STYLE */

.section_title {
  /* font-size: 2rem; */
  font-weight: 800;
  color: #a7194b;
}

.section_text h1 {
  font-family: Manrope;
  font-size: 4.8rem;
  font-weight: 800;
  color: #a7194b;
}

.section_text p {
  /* height: 16rem; */
  padding-bottom: 3.5rem;
  width: 45.3rem;
  font-size: 1.6rem;
}

/* FINACE STYLE  */

.finance {
  width: 39rem;
}

/* FORM STYLES  */

.form_title {
  color: #012481;
}

.section_form_text {
  /* padding: 5rem; */
  width: 80%;
}
.section_form_text h3 {
  font-size: 3rem;
  color: #c4c4c4;
}
.section_form form {
  text-align: center;
}
.section_form_text form p {
  margin: 4rem 0;
}
.section_form input,
textarea {
  font-size: 1.8rem;
  width: 100%;
  padding: 2rem;
  border: 1px solid #012481;
  outline: none;
}
.section_form input::placeholder,
textarea::placeholder {
  color: #c4c4c4;
  font-size: 1.8rem;
}
.section_form textarea {
  height: 13rem;
  outline: none;
  border: 1px solid #012481;
  padding: 2rem;
}

/* MOBILE APP SECTION STYLE  */

.mobile_section {
  background: #c4c4c4;
  position: relative;
}
.mobile_section h2 {
  max-width: 54rem;
  color: #18191f;
  font-size: 4.8rem;
}
.mobile_section p {
  max-width: 540px;
  font-size: 1.8rem;
}
.mobile_section phone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1000;
}
.phone_box {
  position: relative;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  background-position: 50% 1rem;
  /* background-size: c; */
}

.phone_box .phone {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0%);
  width: 24rem;
}
footer{
  display: flex;
  padding: 3rem 0 2rem 0;
  position: relative;
  height: 450px;
  background-color: #0392ce;
  color: #fff;
  font-size: 1.8rem;
  margin-top: 0;
  overflow: hidden;
}
footer img{
  margin: 10rem 0rem;
  padding-right: 2rem;
  width: 25rem;
  height: 10rem;
}
footer a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 1rem 2rem;
}
footer .row-footer {
  display: block;
  padding: 10rem 2rem;
}
footer .section_text {
  display: flex;
}
footer .get-app {
  display: block;
  text-align: center;
}
footer .get-app img .undraw {
  padding: 2rem 3rem;
  width: 500px;
  height: 500px;
  transform: translateY(-3rem);
}
footer .get-app p {
  transform: translateY(3rem);
}
footer .row-links {
  display: block;
  padding: 3rem 5rem;
}
